<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body class="bg-index">
    <% include ../partials/navbar %>
    <div class="container" style="margin: 2rem auto">
      <% if (session.loggedInUser) { %>
        <h2 class="text-light text-center"><%= session.loggedInUser.name %></h2>
        <h5 class="text-light text-center">Your booked destinations:</h5>
        <table class="table table-striped table-light" style="margin: 2rem auto">
          <thead class="thead-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
              <th scope="col">Option</th>
            </tr>
          </thead>
          <tbody>
            <% foundUser.Destinations.forEach((destination, i) => { %>
              <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><a href="/destinations/<%= destination.id %>"><%= destination.name %></a></td>
                <td><%= destination.location %></td>
                <td><%= getCompleteDate(destination.date) %></td>
                <td>
                  <form action="/cancel/<%= destination.id %>" method="POST">
                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure? You will get 50% refund from your cancellation')">Cancel</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% }
      else { %>
      <div class="container text-center">
        <h1 class="text-light" style="font-family: 'Kaushan Script', cursive; font-size: 6rem">InVacation</h1>
        <h3 class="text-light">Liburan tanpa batas</h3>
        <a href="/destinations"><button type="button" class="btn btn-outline-light">Browse Destinations</button></a>
      </div>
      <% } %>
      <% include ../partials/bootstrap-scripts %>
    </div>
    <% include ../partials/topup-modal %>
  </body>
</html>