<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container col-centered" style="margin-top: 2rem; max-width:30rem">
      <h1 class="text-center"><%= header %></h1>
      <% if (err) { %>
        <div class="alert alert-danger text-center" role="alert">
          <%= err %>
        </div>
      <% } %>
      <div>
        <form action="/user/settings" method="POST">
          <div class="form-group">
            <label>First name:</label>
            <input type="text" class="form-control" name="firstName" value="<%= foundUser.firstName %>">
          </div>
          <div class="form-group">
            <label>Last name:</label>
            <input type="text" class="form-control" name="lastName" value="<%= foundUser.lastName %>">
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input type="text" class="form-control" name="email" value="<%= foundUser.email %>">
          </div>
          <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username" value="<%= foundUser.username %>" readonly>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
          <a href="/"><button type="button" class="btn btn-outline-secondary">Cancel</button></a>
        </form>
      </div>
    </div>
    <% include ../partials/topup-modal %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>